@use "tailwindcss";

:host {
  display: block;
}

.annotation__badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 0.75rem;
  background: rgba(59, 130, 246, 0.12);
  color: rgb(37, 99, 235);
  font-weight: 700;
  border: 1px solid rgba(59, 130, 246, 0.3);
  box-shadow: inset 0 1px 2px rgba(59, 130, 246, 0.08);
}
